* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.App {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  width: 40%;
  margin: auto;
  margin-top: 75px;
  text-align: center;
  padding: 50px;
  border-radius: 25px;
  
}

